.env

r2rml/pipeline-*/brick-data
r2rml/pipeline-*/knowledge-graph.*

data-source/
data-processed/
raw/
brick/

stages/*.gen.ini
/raw
/brick
/data-processed

/_jena-fuseki-run/

# N-Triples are only used for DB input
*.nt
*.nt.gz
*.nt.bz2
*.nt.xz

# for Docker Compose
docker-graph-volumes.json
